body{
    background-color: pink;
 display: flex;
   align-items: center;
   justify-content: center;
   margin-top: 5rem;
}

#dd,#yyyy{
    width:50px ;
    margin-right: 5px;
}
table, th, td {
  border: 1px solid black;
   border-spacing: 0.5rem;
  
}
th, td {
 padding: 2px;
   border-right: 0.4rem solid #dd9797;
  border-bottom: 0.4rem solid #ad6d6d;
  border-top: 0.4rem solid #e7adad;
  border-left: 0.4rem solid #ad6d6d
}
h1{
    text-align: center;
}
#submit{
padding: 5px 10px;
margin-left: 43%;
}
table{
    border-right: 0.7rem solid #9b0505;
  border-bottom: 0.7rem solid #7a0303;
  border-top: 0.7rem solid rgba(97, 109, 97, 0.2);
  border-left: 0.7rem solid rgba(76, 82, 76, 0.2)
  
}
