
.container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  width: 50%;
}
form input{
  width: 50%;
  height: 2rem;
  margin-bottom: 1rem;
}
#color{
  width: 5rem;
}
#validation {
  display: none;
  width: 42%;
  color: #D63301;
  background-color: #FFCCBA;
  border: 1px solid;
  margin: 10px 0px;
  padding: 15px 10px 15px 50px;
  background-position: 10px center;
}
