body{
    background-color: rgb(241, 196, 234);

}
.container{
   display: flex;
   align-items: center;
   justify-content: center;
   margin-top: 5rem;
}
.enter-img{
}

.headers{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.next-top{
    display: flex;
    justify-content: space-between;
}
.container p{

}
.copy{
    text-align: center;
}