

.grid {
  display: grid;
  grid-template-columns: repeat(3, 120px);
  grid-gap: 10px;
  position: relative;
  z-index: 1;
}

.card {
  background-color: rgba(17, 59, 55, 0.779);
  transform: rotate(10deg) skew(-10deg, -5deg);
  transition: 
  translate 0.5s 
  box-shadows 0.5s;
  padding: 5px;
  border-radius: 15px;
  position: relative;
  margin: 5px;
  box-shadow: 5px 5px 25px 3px #060e0b;
  border: 2px solid #299e77;
}
.card:hover {
  translate: 0 -5px;
  box-shadow: 5px 3px rgb(217 220 242 /75%) 10px 6px rgb(44 217 255 /50%) 15px
    9px rgb(126 255 178 /25%);

}
.card p {
  z-index: 2;
  position: relative;
  font-size: 14px;
  line-height: 1.7;
  text-align: center;
  color: #48fbba;
}
p span {
  display: block;
  font-size: 13px;
  line-height: 1.7;
  color: #10b981;
}
