body {
  display: flex;
  align-items: center;
  justify-content: center;
}
.parent {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5rem;
  border: 2px solid red;
  width: 50vw;
  height: 50vh;
}
.child {
  background-color: aqua;
  padding: 10px;
}
